body {
    background: linear-gradient(#9a08dd, #dd4c4f, #7420d3);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.Judul {
    text-align: center;
}

.Subjudul {
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
}

.Text {
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
}

.switch1 {
    color: black;
    font-weight: bold;
}
.switch {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    text-align: center;
}
